<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="">
       <img src="/static/images/leon.png" alt="brand" class="image"> </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
      <div class="navbar-nav w-100 rounded-0 border-0">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">{{user.first_name}}</a>
          </div>
      </div>
      <div class="navbar-nav">
        <div class="notifications">
         <h6>1</h6> <i class="bi bi-bell-fill notifications-icon"></i> 
        </div>
      </div>
      
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="{% url 'logout' %}">Log out</a>
        </div>
      </div>
    {% endif %}
      
    
      
    
    
</header