<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
    <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Teachers Home <span id="department" ></span>
                </a>
            </li>
        
        
        <li class="nav-item">
            <a class="nav-link" href="#">
              My Classes <span id="current-company" style="color: rgb(48, 114, 236);"></span>
            </a>
            
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="file" class="align-text-bottom"></span>
            My Group
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file" class="align-text-bottom"></span>
                Reports
            </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="#">
            <span data-feather="layers" class="align-text-bottom"></span>
            Assessments
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file" class="align-text-bottom"></span>
                Announcements and summons
            </a>
        </li>
        
    </ul>

    </div>
</nav>